.header__button {
  padding: 14px 28px;
  color: #fff;
  background: #3a68b8;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.header__button:hover {
  background-color: #214c96;
  transform: scale(0.95) translateY(4px);
  box-shadow: 0 2px 4px rgba(6, 44, 126, 0.2);
}

@media (max-width: 768px) {
  .header__button {
    padding: 10px 33px;
  }
}
